.custom-scroll-pane {
    -fx-background:#2d3250;
    -fx-background-color:#2d3250;
}
.gradient{
 -fx-background-color: linear-gradient( to bottom right,#2d3250,#4B6382,#f9b17a);
}
.background-style{
 -fx-background-color:#2d3250;
}
.bgColor{
-fx-background-color:linear-gradient( to bottom right,#2B3D5B,#4B6382,#f9b17a);
}
.text-style{
-fx-text-fill: white;
-fx-font-size: 36px;
-fx-font-family:"Microsoft YaHei UI Light";
}
.buttonStyle {
-fx-text-align: center;
 -fx-background-radius:20;
 -fx-padding: 5 5;
 -fx-transition-duration: 1000ms;
 -fx-display: flex;
 -fx-flex-direction: row;
 -fx-cursor: pointer;
}
.buttonStyle:hover {
    -fx-transition-duration: 0.3s; /* Transition duration */
    -fx-background-color:  linear-gradient( to bottom right,white,#676f9d,#f9b17a);
}
.login-button{
  -fx-background-color:#f9b17a;
  -fx-text-fill: #2d3250;
  -fx-font-family: "Roboto";
  -fx-font-weight: bold;
  -fx-font-size:16px;
  -fx-pref-width:100px;
  }

.signUp{
  -fx-background-color:transparent;
  -fx-text-fill :#f9b17a;
  -fx-font-family: "Roboto";
  -fx-font-weight: bold;
  -fx-font-size:18px;
  -fx-text-align: center;
  -fx-background-radius:20;
  -fx-padding: 5 5;
  -fx-transition-duration: 1000ms;
  -fx-display: flex;
  -fx-flex-direction: row;
  -fx-cursor: pointer;
}
.signUp:hover {
    -fx-transition-duration: 0.3s; /* Transition duration */
    -fx-text-fill: linear-gradient( to bottom right,white,#676f9d,#f9b17a);
}
.newAccount-text{
-fx-text-fill: white;
-fx-font-family: "Roboto";
-fx-font-size: 24px;
}
.field {
    -fx-pref-width: 100px; /* Set preferred width to 200 pixels */
    -fx-max-width: 200px; /* Set maximum width to 200 pixels */
    -fx-min-width: 200px; /* Set minimum width to 200 pixels */
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-border-color:#f9b17a ;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 5px;
    -fx-background-color: transparent;
}
.field:hover {
    -fx-background-color: transparent;
}
.field:disabled {
    -fx-opacity: 0.5;
}
.date-picker {
        -fx-padding: 5px; /* Applies 10px padding to all sides */
        -fx-pref-width: 200px; /* Set preferred width to 200 pixels */
        -fx-max-width: 200px; /* Set maximum width to 200 pixels */
        -fx-min-width: 200px; /* Set minimum width to 200 pixels */
        -fx-border-color:#f9b17a;
        -fx-border-width: 0 0 1 0;
        -fx-background-color: transparent;
}
.date-picker .text-field {
    -fx-padding: 0px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.shadow{
-fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8),6,0,0,0);
}
.table-view{
-fx-background-color : transparent;
 -fx-border-color: #f9b17a;
-fx-border-radius: 8px;
-fx-padding : 0px;
}
.table-view .placeholder {
    -fx-text-fill: white;
}
.table-view .table-column{
-fx-alignment : CENTER;
}
.table-view .column-header-background{
 -fx-background-color: linear-gradient(to bottom right,#424769,#4B6382,#f9b17a);
-fx-background-insets: 0 0 0 0;
-fx-background-radius: 8px 8px 0px 0px;
}
.table-view .column-header, .filter{
-fx-background-color : transparent;
-fx-size: 40px;
}
.table-view .column-header .label{
-fx-text-fill :white;
-fx-font-family:"Arial";
}
.tableButtons{
 -fx-background-color: #f9b17a;
  -fx-text-fill:#2d3250;
  -fx-font-family: "Roboto";
   -fx-font-weight: bold;
  -fx-font-size:16px;
  -fx-pref-width:100px;
}
.tableButtons:hover {
    -fx-transition-duration: 0.3s; /* Transition duration */
    -fx-background-color: linear-gradient( to bottom right,white,#676f9d,#f9b17a);
}
.mainButtons{
  -fx-background-color: transparent;
  -fx-text-fill: white;
}
.mainButtons:hover {
    -fx-transition-duration: 0.3s; /* Transition duration */
    -fx-background-color:  linear-gradient( to bottom right,#2d3250,#4B6382,#f9b17a);
}
.logout{
 -fx-background-color: transparent;
  -fx-text-fill: white;
   -fx-font-family: "Microsoft YaHei UI";
}
.logout:hover{
    -fx-transition-duration: 0.3s; /* Transition duration */
    -fx-text-fill: linear-gradient( to bottom right,white,#676f9d);
}
.textField{
-fx-background-color : linear-gradient( to bottom ,#efefef,#eee);
-fx-border-color:  linear-gradient( to bottom right,#4B6382,#f9b17a);
-fx-text-fill : #170814;
-fx-border-width: 2px;
-fx-font-family:"Tahoma";
}
.textField:focused{
-fx-border-width: 3px;
-fx-background-color : white;
}
.profile-Labels{
-fx-text-fill : white;
-fx-background-color : transparent;
-fx-font-family:"Microsoft JhengHei UI Light";
/* -fx-border-radius: 4px;  */
}
.viewProfile{
-fx-background-color : transparent;
-fx-text-fill : white;
}
.viewProfile:hover{
-fx-text-fill :linear-gradient( to bottom right,white,#676f9d,#f9b17a);
}
.cardStyle{
-fx-border-width: 3px;
-fx-background-color :#2d3250;
-fx-border-color: linear-gradient(to bottom right,#424769,#4B6382,white,#f9b17a);
}
.cardButtons{
-fx-border-width: 1px;
-fx-background-color: transparent;
-fx-border-color:#f9b17a;
-fx-text-fill: white;
-fx-font-family: "Microsoft YaHei UI";
}
.cardButtons:hover{
-fx-transition-duration: 0.3s; /* Transition duration */
-fx-background-color:  linear-gradient( to bottom right,white,#676f9d,#f9b17a);
-fx-text-fill:#2d3250 ;
-fx-font-family: "Microsoft YaHei UI";
}
/* Style the ScrollPane */
.scroll-pane {
    -fx-background-color:#2d3250 ; /* Background color */
    -fx-padding: 10px; /* Padding */
}

/* Style the scroll bars */
.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color:white ; /* Scroll bar background color */
}

.scroll-pane .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color:linear-gradient( to bottom right,#676f9d,#f9b17a); /* Scroll bar thumb color */
}
.cardField {
    -fx-pref-width: 88px; /* Set preferred width to 200 pixels */
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-border-color:#f9b17a ;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 5px;
    -fx-background-color: transparent;
}
/* Style the LineChart plot area */
.chart-plot-background {
    -fx-background-color: transparent; /* Make plot area transparent */
}
/* Style the LineChart series lines */
.chart-series-line {
    -fx-stroke:white; /* Set line color */
}
/* Style the data point labels */
.chart-line-symbol .chart-label {
    -fx-text-fill: white; /* Label text color */
}



